@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 @model ProductVM


<div class="row pb-2">
    <h2 class="text-primary">@(Model.Product.Id!=0?"Update":"Create" ) Product</h2>
    <hr />
 </div>
<form method="post" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden/>
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4">
                <div class="mb-3 row">
                    <label asp-for="Product.Title" class="p-0"></label>
                    <input class="form-control" asp-for="Product.Title" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.Description" class="p-0 text-muted"></label>
                    <textarea asp-for="Product.Description" class="p-0"></textarea>

                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.Author" class="p-0"></label>
                    <input class="form-control" asp-for="Product.Author" />
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.ISBN" class="p-0"></label>
                    <input class="form-control" asp-for="Product.ISBN" />
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.ListPrice" class="p-0"></label>
                    <input class="form-control" asp-for="Product.ListPrice" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.Price" class="p-0"></label>
                    <input class="form-control" asp-for="Product.Price" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.Price50" class="p-0"></label>
                    <input class="form-control" asp-for="Product.Price50" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.Price100" class="p-0"></label>
                    <input class="form-control" asp-for="Product.Price100" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.CategoryId" class="p-0"></label>
                    <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-control ms-0"><option disabled selected>--Select Category--</option></select>

                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Product.ImageUrl" class="p-0"></label>
                    <input type="file" name="file" class="form-control" asp-for="Product.ImageUrl" />
                    <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
                </div>


                <div class="row">
                    <div class="col-6 col-md-3">
                        @if (Model.Product.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary form-control">Create</button>
                        }
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">Back to list</a>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-2">
            <img src="@Model.Product.ImageUrl" width="100"  style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>
    </div>

</form>
@section Scripts {

    @* this is the script for text editor tiny  *@
    <script>
                         tinymce.init({
                             selector: 'textarea',
                             plugins: 'anchor autolink charmap codesample emoticons  lists  table visualblocks wordcount',
                             toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | numlist bullist indent outdent | emoticons charmap ',
                         });
    </script>
    
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}